.childComment{
    margin-left: 20px;
    margin-top: 20px;
}

.childComment > span {
    color: rgb(90,90,90);
}

.comment {
    margin-top: 20px;
}

.comment > span {
    color: rgb(90,90,90);
}

input.chatText {
    width: 100%;
    min-width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00A8E8;
    background-color: transparent;
}

input.chatText::placeholder {
    display: flex;
    text-align: left;
    text-justify: center;
    color: darkblue;
    font-size: 10px;
    margin-bottom: 1px;
}

input.chatText:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.cancel {
    background-color: transparent; 
    color: black;
    border: none;
    justify-self: flex-end;
    align-self: flex-end; 
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.createComment {
    background-color: blue; 
    color: white;
    border: none;
    justify-self: flex-end;
    align-self: flex-end; 
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main-reply > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reply > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.toggleComments {
    color: darkblue;
    margin-top: 5px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}