.childComment{
    margin-left: 20px;
    margin-top: 20px;
}

.childComment > span {
    color: rgb(90,90,90);
}

.childComments {
    position: relative;
}

.comment {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.comment > div {
    width: 100%;
}

.comment > span {
    color: rgb(90,90,90);
}

.e-d-comment {
    background-color: transparent;
    border: none;
    /* justify-self: center; */
    /* align-self: center; */
    visibility: hidden;
    align-self: center;
    justify-self: end;
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    /* padding-bottom: 50px; */
}

.commentSection {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}

.childcommenttemp {
    position: relative;
}

div:hover > .tc > .e-d-comment {
    visibility: visible;
}

.tcc {
    width: 100%;
}
.tc {
    position: absolute;
    right: 0;
    top: 30px;
    margin-left: auto;
    /* width: 100%; */
}

/* .tc > * {
    position: absolute;
    right: 0;
} */

.tc > button {
    /* margin-left: 100px;
    cursor: pointer; */
}

.comment-options {
    position: absolute;
    width: 131px;
    height: 88px;
    background-color: white;
    border: solid black 1px;
    /* display: flex; */
}

.report-co {
    margin-top: 32px;
    width: 100%;
}

.report-co > button {
    border: none;
    width: 100%;
    height: 22px;
    background-color: transparent;
}

.report-co > button:hover {
    background-color: lightgray;
}

.uphalf-co {
    margin-top: 22px;
    width: 100%;
}

.uphalf-co > button {
    border: none;
    width: 100%;
    height: 22px;
    background-color: transparent;
}

.uphalf-co > button:hover {
    background-color: lightgray;
}

.downhalf-co {
    margin-bottom: 22px;
    width: 100%;
}

.downhalf-co > button {
    border: none;
    width: 100%;
    height: 22px;
    background-color: transparent;
} 

.downhalf-co > button:hover {
    background-color: lightgray;
}

input.chatText {
    width: 100%;
    min-width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00A8E8;
    background-color: transparent;
}

input.chatText::placeholder {
    display: flex;
    text-align: left;
    text-justify: center;
    color: darkblue;
    font-size: 10px;
    margin-bottom: 1px;
}

input.chatText:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.cancel {
    background-color: transparent; 
    color: black;
    border: none;
    justify-self: flex-end;
    align-self: flex-end; 
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.createComment {
    background-color: blue; 
    color: white;
    border: none;
    justify-self: flex-end;
    align-self: flex-end; 
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main-reply > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reply > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.toggleComments {
    color: darkblue;
    margin-top: 5px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.likeReply {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: gray
}

.likeReply > * {
    margin-right: 10px;
}

.commentHeader {
    margin-bottom: 20px;
}
.commentHeader > span {
    margin-right: 10px;
    /* margin-bottom: 20px; */
}

.commentHeader > button {
    background-color: transparent;
    border: none;
}

.commentHeader > button > div {
    background-color: white;
    width: 126px;
    height: 96px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    border: gray solid 1px;
    z-index: 50;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.commentHeader > button > div > button {
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: none;
}

.commentHeader > button > div > button:hover {
    width: 100%;
    height: 48px;
    background-color: gray;
    border: none;
}

.commentHeader > button > div > button {
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: none;
}