.popup {
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    /* margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 20px;
    margin-top: 80px; */
    width: 960px;
    max-width: 100vw;
    background-color: white;
}

.exit{
    position: fixed;
    height: 25px;
    width: 25px;
    top: 0%;
    left: 100%;
    transform: translate(-90%, -5%);
}

.upload{
    position: fixed;
    height: 25px;
    width: 150px;
    align-self: center;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoUpload{
    content: 'upload video';
    display: none;
}

.thumbNailUpload{
    content: 'upload video thumbnail'
}

.uploadControls{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}