
div {
    justify-content: center;
}

h1 {
    margin-top: 10px;
    font-size: 25px;
}

p {
    margin-top: 7px;
}

section.session {
    align-self: center;
    width: 100vw;
    height: 100vh;
    background-image: image_url("bluejellyfish.jpg");
    /* background-image: url("37832977_10209514860627458_8300305083006976000_o.jpg"); */
    background-size: cover;
    color: black;
    display: flex;
    font-family: "Arial";
    justify-self: center;
    justify-content: center;
    align-content: center;
    font-family: "Arial";
}

form.sessionSignIn {
    align-self: center;
    background-color: lightblue;
    display: flex;
    text-align: center;
    /* background-color: lightblue; */
    width: 448px; 
    height: 500px;
    /* justify-content: space-around; */
    flex-direction: column;
    border: solid black 1px;
    border-radius: 1px;
}

form.sessionSignUp {
    align-self: center;
    background-color: lightblue;
    display: flex;
    text-align: center;
    /* background-color: lightblue; */
    width: 448px; 
    height: 556px;
    /* justify-content: space-around; */
    flex-direction: column;
    border: solid black 1px;
    border-radius: 1px;
}

input.session {
    width: 366px;
    height: 44px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    background-color: white;
}

div.session-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-self: flex-end; */
    /* margin-bottom: 80px; */
    margin-top: 30px;
}

button.next {
    width: 88px;
    height: 36px;
    /* margin-left: 40px; */
    background-color: #00A8E8;
    color: white;
    font-weight: bold;
    border: black 0.2px solid;
    cursor: pointer;
    /* align-self: flex-end; */
    /* margin-bottom: 88px; */
}

button.demo {
    width: 88px;
    height: 36px;
    background-color: #00A8E8;
    color: white;
    font-weight: bold;
    border: black 0.2px solid;
    cursor: pointer;
}

.toggle {
    font-weight: bold;
}

div.bloogle {
    /* font-weight: bold; */
    text-shadow: darkblue;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    /* font-family:  Arial, Helvetica, sans-serif; */
}

input::placeholder {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

div.one {
    color: #4285f4;
}

div.two {
    color: #ea4335;
}

div.three {
    color: #fbbc05;
}

div.four {
    color: #34a853;
};