.SignInSignOut button {
    background-color: #00A8E8;
    color: white;
}

a.SignInSignOut {
    /* justify-self: flex-end; */
    /* align-self: flex-end; */
    margin-right: 5px;
}

.splash {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav {
    display: flex;
    background-color: white;
    width: 100vw;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-logo-plus-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 25px;
}

.nav-logo {
    height: 30px;
    width: 30px;
    margin-right: 2px;
}

.nav-camera {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.nav-grid {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.withDemo{
    /* display: flex; */
    /* flex-direction: column; */
}

.withDemo button {
    font-style: none;
    text-decoration-style: none;
    margin-right: 5px;
}

.right-nav {
    display: flex;
    align-items: center;
}

