/* body{
    height: 3000px;
} */
.SignInSignOut button {
    background-color: #00A8E8;
    color: white;
}

a.SignInSignOut {
    /* justify-self: flex-end; */
    /* align-self: flex-end; */
    margin-right: 5px;
}

.splash {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav {
    display: flex;
    background-color: white;
    width: 100vw;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
}

.videoStorage{
    display: flex;
    /* background-color: green; */
    height: 800px;
    width: 800px;
    margin-top: 66px;
}

.nav-logo-plus-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 15px;
}

.nav-logo {
    height: 40px;
    width: 40px;
    margin-right: 2px;
}

.nav-camera {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.camera-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.nav-grid {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.withDemo{
    /* display: flex; */
    /* flex-direction: column; */
}

.withDemo button {
    height: 40px;
    width: 80px;
    font-style: none;
    text-decoration-style: none;
    margin-right: 5px;
    cursor: pointer;
}

.right-nav {
    display: flex;
    align-items: center;
}

.nav-search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.search-button {
    display: flex;
    justify-content: center;
    background: #00A8E8;
    color: darkblue;
    border: 1px solid black;
    /* padding-left: 5px;
    padding-right: 5px;
    height: 20px;
     */
     size: 1px;
     width: 50px;
     padding: 3px;
}

.search-bar {
    height: 20px;
    width: 30vw;
    max-width: 575px;
    border: 1px solid black;
    border-right: none;
}

