a.channel-button {
    border-radius: 500px;
    background-color: blue;
    color: white;
    font-size: 18px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.large {
    align-items: center;
}

.large > div {
    font-size: 12px;
    margin-bottom: 8px;
}

.large > div:first-of-type {
    margin-top: 20px;
    font-weight: bold;
}

.large > a.channel-button {
    height: 112px;
    width: 112px;
    font-size: 75px;
    justify-self: center;
}

.studioBar {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}

.channel-videos {
    margin-top: 56px;
    margin-left: 60px;
}

.channel-header {
    padding-left: 32px;
    padding-top: 25px;
    font-size: 25px;
    font-weight: bold;
}

.upload-header {
    padding-left: 32px;
    height: 63px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
}

.video-grid {
    width: 100vw;
    border-top: solid darkgray 1px;
}