a.channel-button {
    border-radius: 500px;
    background-color: blue;
    color: white;
    font-size: 18px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.large {
    align-items: center;
}

.large > div {
    font-size: 12px;
    margin-bottom: 8px;
}

.large > div:first-of-type {
    margin-top: 20px;
    font-weight: bold;
}

.large > a.channel-button {
    height: 112px;
    width: 112px;
    font-size: 75px;
    justify-self: center;
}

.studioBar {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}

.channel-videos {
    margin-top: 56px;
    margin-left: 60px;
}

.channel-header {
    padding-left: 32px;
    padding-top: 25px;
    font-size: 25px;
    font-weight: bold;
}

.upload-header {
    padding-left: 32px;
    height: 63px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
}

.video-grid {
    width: 100vw;
    border-top: solid darkgray 1px;
}

.grid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    border-bottom: solid darkgray 1px;
}

.grid-header > td {
    margin-left: 32px;
    margin-right: 32px;
}

.grid-header > td:last-of-type {
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

.filter {
    width: 100vw;
    border-bottom: solid darkgray 1px;

}

.filter > input {
    border: none;
    height: 48px;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

.filter > input {
    text-align: flex-end;
    color: blue;
    text-indent: 32px;
}

.filter > input::placeholder {
    text-align: left;
    /* padding-left: 32px; */
}

.grid-footer {
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: solid darkgray 1px;

}

.grid-footer > span {
    margin-left: 32px;
}

.grid-cells {
    padding-left: 32px;
    /* height: 83px; */
}

.grid-cells > tr {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    height: 83px;
    border-bottom: solid darkgray 1px;
    
}

.grid-cells > tr > img {
    height: 68px;
    width: 120px;
    background-color: black;
}

.grid-cells > tr > div {
    margin-left: 10px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
}

.grid-cells > tr > div {
    position: sticky;
    left: 50;

}
