.videoCategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 70px;
}

.videoSearch {
    margin-top: 100px;
    margin-left: 75px;
}

.videoTitle {
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.miniViews {
    margin-left: 30px;
    color: rgb(90,90,90);
}

.miniUser {
    margin-left: 30px;
    color: rgb(90,90,90);
}

.miniVidBox{
    display: flex;
    height: 250px;
    width: 300px;
    margin-right: 10px;
    padding-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    justify-content: left;
}


.miniVidBox > a > img {
    width: 300px;
    height: 167px;
    margin-left: 5px;
    background-color: black;
}

.miniVidBox > a {
    height: 250px;
}

.miniDesc {
    visibility: hidden;
}

.videoStorage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgb(245, 250, 255);
}

.singleVideoContainer {
    margin-left: 70px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    justify-self: flex-start;
}

button.delete {
    height: 50px;
    width: 150px;
    border: 1px solid blue;
    color: blue;
    background-color: white;
    margin-bottom: 20px;
}

.singleVideo {
    height: 600px;
    width: 800px;
    background-color: black;
    align-self: flex-start;
    margin-top: 75px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.singleVideo:focus {
    outline: 0;
}

video::-webkit-media-controls-panel {
  height: 600px;
  align-self: flex-end;
}


.viewsAndLikes {
    width: 800px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}


.descTag {
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
    /* background: white; */
    width: 784px;
    min-height: 100px;
    box-shadow: #00A8E8;
    padding-top: 8px;
    /* padding-left: 8px; */
    padding-right: 8px;
}



.titleTag {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 784px;
    height: 35px;
    /* text-align: start; */
    /* text-align: justify; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    /* justify-content: flex-end; */
    color: black;
    /* background-color: white; */
    padding-right: 8px;
    /* padding-left: 8px; */
    padding-top: 8px;
    padding-bottom: 8px;
    /* margin-top: 8px; */
}

.under {
    display: flex;
}

.side {
    display: flex;
}

.videoSearch > .miniVidBox {
    height: 170px;
    display: flex;
    margin-bottom: 10px;
}

.videoSearch > .miniVidBox > a > img {
    /* width: 2460; */
    background-color: black;
    height: 137;
}

.videoSearch > .miniVidBox > * > .side > div > .profilePic  {
    visibility: hidden;
    width: 0px;
    margin: 0px;
    position: fixed;
}

.videoSearch > .miniVidBox > * > .side > div {
    margin-left: 8px;
}

.videoSearch > .miniVidBox > * > .side > div > div > .miniUser {
    margin: 0px;
}

.videoSearch > .miniVidBox > * > .side > div > div > .miniViews {
    margin-left: 10px;
}

.videoSearch > .miniVidBox > * > .side > div > *  {
    margin-left: 0px;
}

.videoSearch > .miniVidBox > * > .side > div > .miniDesc  {
    visibility: visible;
    margin-top: 8px;
    color: gray;
    /* position: relative; */
}

.videoSearch > .miniVidBox > * {
    /* background-color: blue; */
    /* justify-self: flex-end; */
    display: flex;
    flex-direction: row;
}

.videoSearch > .miniVidBox > * > .side > div > div {
    display: flex;
    flex-direction: row;
}

.userVideos > div {
    margin-right: 3px;
    width: 210px;
}

.userVideos > div > .miniVidBox > * > .side > div:nth-of-type(2) {
    width: 100%;
    /* background-color: black; */
}
/* .userVideos > div > .miniVidBox > * > .side > div {
    width: 1000px;
    /* height: 100px; */
    /* display:flex; */
    /* align-items: flex-start; */
    /* justify-self: start;
    background-color: pink; */
    /* margin-right: 120px; */
/* } */
.userVideos > div > .miniVidBox > * > .side > div > .profilePic {
    visibility: hidden;
    width: 0px;
    position: fixed;
}

.userVideos > div > .miniVidBox > * > .side > div > div > .miniUser {
    visibility: hidden;
}



.userVideos > div > .miniVidBox > * > .side > div > .videoTitle {
    display: flex;
    margin-left: 5px;
    padding-left: 0px;
    width: 100%;
    justify-content: flex-start;
}


.userVideos > div > .miniVidBox > * > .side > div > div > .miniViews {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    /* background-color: black; */
    justify-content: flex-start;
    margin-left: 5px;
}


.userVideos > div > .miniVidBox > * > img {
    height: 117.5px;
    width: 210px;
    margin: 0px;

}
.userVideos > div > .miniVidBox {
    width: 210px;
    height: 200px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.userVideos > div > .miniVidBox > a {
    width: 210px;
    height: 200px;
    justify-content: flex-start;
}

.userVideos > div > .miniVidBox > a > .side {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-left: 10px; */
}

.sidepanel {
    height: 94px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.sidepanel > .miniVidBox {
    height: 94px;
}
.sidepanel > .miniVidBox > a {
    height: 94px;
}

.sidepanel > .miniVidBox > a > img {
    height: 94px;
    width: 168px;
}

.sideVids {
    /* background-color: black; */
    /* height: 100vh; */
    width: 402px;
    margin-left: 2px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.sideVids > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.sideVids > div > * {
    margin-left: 5px;
}

.singleVideoPage {
    display: flex;
}